<!DOCTYPE html>
<html>
  <head>
    <title>FindExpert</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <!-- navigation section -->
    <section>
      <nav>
        <div class='nav-wrapper blue'>
          <ul class='left'>
            <li><%= link_to 'Members', root_url %></li>
          </ul>
        </div>
      </nav>
    </section>
    <!-- body section -->
    <section>
      <%= yield %>
    </section>
  </body>
</html>
