<div class="container">
  <h1><%= @member.name %></h1>

  <div class='card'>
    <div class='card-content'>
      <h3>Profile</h3>
      <p><i class="large material-icons">face</i></p>
      <p><%= link_to 'Website URL', @member.website_url %></p>
      <p><%= link_to 'Short URL', @member.short_url if @member.short_url.present? %></p>
    </div>
  </div>

  <div class='card'>
    <div class='card-content'>
      <h3>Topics</h3>
      <% @headings.each do |heading| %>
        <p><%= heading.content %></p>
      <% end %>
    </div>
  </div>

  <div class='card'>
    <div class='card-content'>
      <h3>Friend</h3>
      <table>
        <tbody>
          <% @other_members.each do |member| %>
            <tr>
              <td class="">
                <%= member.name %>
              </td>
              <td>
                <%= link_to 'Visit Page', member_path(member) %>
              </td>
              <td class="">
                <% if !@friends.include?(member) %>
                  <%= link_to "Add Friend", new_member_friendship_path(id: @member.id, member_id: member.id), data: { confirm: 'Are you sure?' } %>
                <% else %>
                  <%= link_to "Remove Friend", member_friendship_path(member), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card'>
    <div class='card-content'>
      <h3>Search Expert By topic</h3>
      <p>type in a topic to see how you can reach the expert</p>
      <%= form_tag member_experts_path(@member), method: :get do %>
        <div class='input-field'>
          <%= label_tag :search %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Find Expert", class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
